<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ML Prediction Page">

    <!-- ========== Page Title ========== -->
    <title>ML Prediction page</title>



    <!-- ========== Start Stylesheet ========== -->
    
    <link href="{{ url_for('static', filename ="assets/css/bootstrap.min.css")}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename ="assets/css/flaticon-set.css")}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename ="assets/css/magnific-popup.css")}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename ="assets/css/owl.carousel.min.css")}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename ="assets/css/owl.theme.default.min.css")}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename ="assets/css/animate.css")}}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename ="assets/css/bootsnav.css")}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename ="style.css")}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename ="assets/css/responsive.css")}}" rel="stylesheet" />
    <!--link href="assets/css/font-awesome.min.css" rel="stylesheet" - />
    <link href="assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/bootsnav.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5/html5shiv.min.js"></script>
      <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

</head>

<body>


    <!-- Start Banner 
    ============================================= -->
    <div class="banner-area text-center text-normal text-light shadow dark bg-fixed" style="background-image: url('/static/1.jpg');">
        <div class="box-table">
            <div class="box-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="content">
                                <h1>This App implements Machine Learning to predict results which had been trained with Life Expectancy datasets.</h1>
                                <p>
                                    The model learns from the data and predicts 96% accuracy.
                                </p>
                                
                                <button><a class="btn-success btn-sm" style="border-radius: 16px;" href="/predict">Click Here To Predict</a></button>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <!-- End Banner -->

    <!-- Start Companies Area 

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="{{ url_for('static', filename ="assets/js/jquery-1.12.4.min.js")}}"></script>
    <script src="{{ url_for('static', filename ="assets/js/bootstrap.min.js")}}"></script>
    <script src="{{ url_for('static', filename ="assets/js/equal-height.min.js")}}"></script>
    <script src="{{ url_for('static', filename ="assets/js/jquery.appear.js")}}"></script>
    <script src="{{ url_for('static', filename ="assets/js/jquery.easing.min.js")}}"></script>
    <script src="{{ url_for('static', filename ="assets/js/jquery.magnific-popup.min.js")}}"></script>
    <script src="{{ url_for('static', filename ="assets/js/owl.carousel.min.js")}}"></script>
    <script src="{{ url_for('static', filename ="assets/js/wow.min.js")}}"></script>
    <script src="{{ url_for('static', filename ="assets/js/count-to.js")}}"></script>
    <script src="{{ url_for('static', filename ="assets/js/bootsnav.js")}}"></script>
    <script src="{{ url_for('static', filename ="assets/js/main.js")}}"></script>
    <!--script src="assets/js/equal-height.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/modernizr.custom.13711.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/bootsnav.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>